@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap");
@import 'tailwindcss';

@import './design-tokens.css';
@import './semantic-tokens.css';
@import './theme.css';

html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
}
